{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<h2>Устройсво лазерной резки/гравировки Epilog Mini24 40 Вт</h2>
				<div class="fotorama" data-width="100%" data-height="320" data-loop="true" data-autoplay="true" data-allowfullscreen="true" data-fit="contain">
					<img src="/static/img/equipment/laser-epilog-mini/1.jpg">
					<img src="/static/img/equipment/laser-epilog-mini/2.jpg">
				</div>
				<p>
					Лазерный раскройщик/гравировщик <strong>Laser Epilog Mini 24</strong>
				</p>
				<p>
					Лазерные гравировальные аппараты серии Epilog Mini являются наиболее многофункциональными лазерными системами малого формата, создан специально для коммерческого использования небольших фирм или даже для собственных нужд.Позволяют выполнять высококачественную гравировку и 
					векторную резку широкого спектра материалов.
				</p>
			</div>
			<div class="col-md-4">
				<h4>Календарь</h4>
				<div>
					<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=ru&amp;bgcolor=%23FFFFFF&amp;src=lmm8r44edc2lsupkjesfkm5uos%40group.calendar.google.com&amp;color=%236B3304&amp;ctz=Europe%2FMoscow" style=" border-width:0 " width="99%" height="400px" frameborder="0" scrolling="no"></iframe>
				</div>
				<p class="text-center">
					<a href="mailto:fablab@misis.ru?subject=Laser Epilog Mini 24" class="btn btn-primary btn-lg btn-block">Поработать на этом оборудование</a>
				</p>
				<br>
				<h4>Гравировка</h4>
				<ul>
					<li>Дерево, фанера</li>
					<li>Акриловое стекло</li>
					<li>Алюминий, латунь, нержавеющая сталь</li>
					<li>Пластик и резина</li>
					<li>Кожа, ткань</li>
					<li>Картон, бумага</li>
					<li>Керамика</li>
					<li>Стекло</li>
					<li>Мрамор</li>
				</ul>
				<h4>Векторная резка</h4>
				<ul>
					<li>Дерево, фанера (не толще 10 мм)</li>
					<li>Пластик и резина</li>
					<li>Кожа, ткань</li>
					<li>Картон, бумага</li>
					<li>Акрил</li>
				</ul>
			</div>
		</div>
	</div>
</article>
{% endblock %}