{% extends "base.html" %}
{% block content %}

<article class="article container">
	<div class="content">
		<h2>Хартия</h2>
		<p><strong>Миссия:</strong> фаблабы&nbsp;&mdash; это всемирная сеть лабораторий цифрового производства, созданная для того, чтобы позволить каждому создавать всё что он&nbsp;пожелает при помощи современных цифровых технологий.</p>
		<p><strong>Назначение:</strong> в&nbsp;фаблабе можно создавать всё что пожелаете, главное&nbsp;&mdash; чтобы Ваше изделие не&nbsp;представляло угрозы для жизни человека. Вы&nbsp;должны уметь самостоятельно работать в&nbsp;лаборатории, а&nbsp;также не&nbsp;забывать, что помимо Вас в&nbsp;лаборатории работают другие коллеги.</p>
		<p><strong>Обучение:</strong> образовательный процесс в&nbsp;фаблабах заключается в&nbsp;выполнении практических заданий. В&nbsp;основе образовательного процесса в&nbsp;фаблабе лежат продуктивное общение с&nbsp;однокашниками и&nbsp;непрерывный взаимополезный обмен опыта с&nbsp;ними. Каждый должен стремиться привносить свой вклад в&nbsp;развитие образовательного процесса и&nbsp;помогать окружающим обучаться работе с&nbsp;оборудованием в&nbsp;лаборатории.</p>
		<p><strong>Ответственность:</strong> не&nbsp;забывайте, что Вы&nbsp;несёте ответственность за:</p>
		<p><i>Безопасность:</i> при выполнении любого вида работ в&nbsp;фаблабе не&nbsp;забывайте о&nbsp;собственной безопасности и&nbsp;о&nbsp;безопасности окружающих Вас людей</p>
		<p><i>Чистоту:</i> закончив работать в&nbsp;фаблабе, не&nbsp;забудьте убрать за&nbsp;собой рабочее место</p>
		<p><i>Функционирование оборудования:</i> поддерживайте оборудование в&nbsp;рабочем состоянии, ремонтируйте его в&nbsp;случае поломки, а&nbsp;также сообщайте о&nbsp;случаях неисправной работы устройств или их&nbsp;частей</p>
		<p><strong>Конфиденциальность:</strong> технологии и&nbsp;процессы, создаваемые в&nbsp;ходе работы в&nbsp;фаблабе, должны оставаться общедоступными, однако Вы&nbsp;вправе защищать права своей интеллектуальной собственности.</p>
		<p><strong>Коммерциализация:</strong> технологические разработки фаблаба могут быть коммерциализированы, однако не&nbsp;стоит забывать, что один из&nbsp;основополагающих принципов работы фаблаба&nbsp;&mdash; свободный доступ ко&nbsp;всем её ресурсам. Коммерческая деятельность должна развиваться не&nbsp;столько внутри самой лаборатории, сколько вне её, тем самым способствуя процветанию всей сети лабораторий, а&nbsp;также успеху разработчиков.</p>
		<p class="text-right">Проект документа от&nbsp;30 августа 2009</p>
		<p class="text-right"><a href="http://fab.cba.mit.edu/about/charter/" target="_blank">Оригинальный текст</a></p>
	</div>
</article>
{% endblock %}