{% extends "base.html" %}
{% block content %}

<article class="article container">
	<div class="content">
		<h2>Всемирная сеть</h2>
		<p>
			В мире уже больше сотни лабораторий цифрового производства Fab Lab. <a href="https://www.fablabs.io/labs" target="_blank">Актуальный список действующих лабораторий</a> поддерживается на сайте проекта. Не смотря на общую идеологию и основные инструменты, каждая лаборатория уникальна и по своему интересна, обязательно посетите сайты лабораторий в:
		</p>
		<ul>
			<li><a href="http://fablab.spbstu.ru/" target="_blank">Санкт-Петербурге</a></li>
			<li><a href="http://cmit.ru/" target="_blank">Томске</a></li>
			<li><a href="http://fablab24.ru/" target="_blank">Красноярске</a></li>
			<li><a href="http://fablabufa.ru/" target="_blank">Уфе (ЦМИТ «Лаборатория инноваций»)</a></li>
			<li><a href="http://fablabion.ru/" target="_blank">Уфе (ЦМИТ «Уникум»)</a></li>
			<li><a href="http://fablab61.ru/" target="_blank">Ростове-на-Дону (в технопарке Южного федерального университета)</a></li>
			<li><a href="http://fablabrostov.ru/" target="_blank">Ростове-на-Дону (ДГТУ)</a></li>
			<li><a href="http://vk.com/fablab_tsu/" target="_blank">Тюмени</a></li>
			<li><a href="http://izolab.org/" target="_blank">Донецке</a></li>
			<li><a href="http://fablab.waag.org/" target="_blank">Амстердаме</a></li>
			<li><a href="http://fablabbcn.org/" target="_blank">Барселоне</a></li>
			<li><a href="http://www.happylab.at/" target="_blank">Вене</a></li>
			<li><a href="http://www.fablabmanchester.org/" target="_blank">Манчестере</a></li>
		</ul>
	</div>
</article>

{% endblock %}