{% extends "base.html" %}
{% block content %}

<article class="article container">
	<div class="content">
		<h2>Партнеры в России</h2>
		<p>
			В мире уже больше сотни лабораторий цифрового производства Fab Lab. <a href="https://www.fablabs.io/labs" target="_blank">Актуальный список действующих лабораторий</a> поддерживается на сайте проекта. Не смотря на общую идеологию и основные инструменты, каждая лаборатория уникальна и по своему интересна, обязательно посетите сайты лабораторий в:
		</p>
		<div class="row">
		</div>
	</div>
</article>

{% endblock %}