{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="content">
		<h2>Откуда это</h1>
		<p>Рожденный как университетский проект в&nbsp;Центре битов и&nbsp;атомов Массачусетского технологического института (<a href="http://cba.mit.edu/" target="_blank">The Center for Bits and Atoms, MIT</a>), ФАБЛАБ, благодаря принципам открытости и&nbsp;доступности превратился в&nbsp;глобальную сеть лабораторий цифрового производства по&nbsp;всему миру, разделяющих общие принципы, использующие схожее оборудование и&nbsp;технологии, обменивающиеся идеями и&nbsp;ресурсами.</p>
		<img src="/static/img/fablab/neil-gershenfeld.jpeg" alt="Neil Gershenfeld" class="pull-left">
		<p>Основатель программы ФАБЛАБ&nbsp;&mdash; автор курса &laquo;как сделать (почти) все, что угодно&raquo; и&nbsp;книги FAB: The Coming Revolution on&nbsp;Your Desktop&nbsp;&mdash; From Personal Computers to&nbsp;Personal Fabrication (Грядущая революция на&nbsp;вашем столе&nbsp;&mdash; от&nbsp;персональных компьютеров к&nbsp;персональному производству) профессор Нил Гершелфенд (Neil Gershenfeld)&nbsp;&mdash; настоящий цифровой революционер!</p>
		<p>В&nbsp;своем интервью для &laquo;Principal voices&raquo; (<a href="http://www.principalvoices.com/2007/technology.innovation/video/neil.gershenfeld/" target="_blank">ВИДЕО</a>) Нил Гершелфенд&nbsp;рассказал:</p>
		<p>
			&laquo;В&nbsp;мире уже произошла цифровая революция, нет смысла говорить о&nbsp;том, что она должна продолжаться&nbsp;&mdash; она уже дала ощутимые результаты. Сегодня&nbsp;же пришла пора говорить о&nbsp;революции в&nbsp;области цифрового производства.
		<p>
		<p>
			Мы&nbsp;с&nbsp;коллегами начали читать курс &bdquo;Как создать почти всё что угодно&ldquo;. Мы&nbsp;хотели показать, как тесно мир цифровых технологий связан с&nbsp;физическим материальным миром, как при помощи цифровых технологий можно создавать реальные ощутимые изделия, как соединять атомы воедино и&nbsp;создавать всё что пожелаете.
		</p>
		<p>
			Массачусетский технологический институт тратит миллионы долларов на&nbsp;приобретение и&nbsp;поставку оборудования, благодаря которому люди могут сами создавать то, чего хотят. И&nbsp;кто знает&nbsp;&mdash; лет через двадцать подобное оборудование будет стоять у&nbsp;вас дома&nbsp;&mdash; словом, фаблабы сейчас стоят на&nbsp;середине пути своего развития.
		</p>
		<p>
			Сегодня фаблабы существуют в&nbsp;странах по&nbsp;всему миру, позволяя обычным людям, из&nbsp;стран Южной Африки до&nbsp;Норвегии, из&nbsp;провинциальных городов Индии до&nbsp;города Бостона в&nbsp;США, создавать то, чего они хотят.
		</p>
		<p>Вместо того чтобы тратить колоссальные средства на&nbsp;покупку компьютеров и&nbsp;средств связи, мы&nbsp;можем поставлять им&nbsp;оборудование, которое позволяет создавать все эти вещи&nbsp;&mdash; на&nbsp;это потребуется куда меньше средств.
		</p>
		<p>
			Энергия, коммуникация, компьютеры&nbsp;&mdash; такие громкие и&nbsp;длинные слова, обозначающие понятия, требующие огромных затрат на&nbsp;их&nbsp;приобретение. Фаблабы призваны создавать все эти изделия самостоятельно.
		</p>
		<p>
			Мы&nbsp;встречаем людей с&nbsp;удивительным творческим потенциалом, которые могут создавать уникальные вещи. Наша цель&nbsp;&mdash; делиться знанием и&nbsp;опытом.&raquo;
		</p>
	</div>
</article>
{% endblock %}