{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="creativity">
		<h2>Из 2D в 3D без клея и метизов (Press-fit)</h2>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/10.jpg">
				<p class="text-muted">Andy Bardagjy (MAS863) 2011</p>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Изделия из картона</h3>
				<p>
					Использование соединений с&nbsp;тугой посадкой (press-fit) позволяет собирать из&nbsp;плоских деталей, полученных из&nbsp;листовых материалов с&nbsp;помощью лазерной резки или раскроя на&nbsp;фрезерном станке, сложные пространственные конструкции без применения крепежа или клея. Такая техника позволяет создавать как прототипы, так и&nbsp;функциональные изделия, как компактные объекты, так и&nbsp;масштабные сооружения. Прочность отдельных соединений и&nbsp;самой конструкции в&nbsp;целом определяются используемым материалом и&nbsp;геометрией интерферирующих элементов.<br>
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/11.jpg">
				<p class="text-muted">Natan Linder (MAS863) 2009</p>
			</div>
			<div class="media-body">
				<p>
					Пожалуй, идеальным материалом для создания концептуальных прототипов и&nbsp;&laquo;арт-объектов&raquo; является гофрированный картон&nbsp;&mdash; он&nbsp;доступен, прекрасно режется лазером, до&nbsp;определенной степени прощает ошибки в&nbsp;расчете посадки в&nbsp;соединительных элементах.<br>
					Прочность соединения press-fit определяется, прежде всего, разницей между толщиной материала и&nbsp;шириной паза в&nbsp;элементах. Для гофрированного картона ширина паза может быть значительно (до&nbsp;25%) меньше толщины материала&nbsp;&mdash; при соединении элементов эта разница будет компенсирована деформацией податливого материала.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/12.jpg">
				<p class="text-muted">
					Александр Онучин (ФАБЛАБ77) 2012<br>
					Модульная ширма. Фанера 4 мм, краска
				</p>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Изделия из фанеры</h3>
				<p>
					Для различных древесных плит (фанера, МДФ, ОСП) разница между шириной паза и толщиной материала должна быть минимальной - для плит с толщинами 8…16 мм можно рекомендовать занижение ширины паза относительно толщины материала на 0,1…0,3 мм. Чем туже посадка, тем прочнее соединение, но тем сложнее осуществлять сборку — слишком узкие пазы при сборке потребуют значительные усилия. Чрезмерно тугая посадка при работе с древесными плитами, возможно, сделает необходимым использование струбцин или киянки, но большой проблемой не станет<br>
					
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/13.jpg">
				<p class="text-muted">
					Владимир Кузнецов (ФАБЛАБ77) 2012<br>
					Пересекающиеся торы. Фанера 12 мм. 

				</p>
			</div>
			<div class="media-body">
				<p>
					При подборе оптимальной ширины паза для press-fit необходимо помнить о&nbsp;следующих моментах:<br>
					1. Толщина материала никогда не&nbsp;соответствует маркировке. Каждый лист материала необходимо аккуратно измерить с&nbsp;помощью штангенциркуля или микрометра и&nbsp;лучше, не&nbsp;менее чем в&nbsp;трех местах. Толщина листового материала может отличаться как от&nbsp;партии к&nbsp;партии, так и&nbsp;внутри партии и&nbsp;даже в&nbsp;пределах одного листа.<br>
					2. Ширина реального паза никогда не&nbsp;будет абсолютно совпадать с&nbsp;моделью. Если элементы вырезаются с&nbsp;помощью лазера, то&nbsp;необходимо учитывать ширину прожига (которая, в&nbsp;свою очередь, будет зависеть от&nbsp;типа материала и&nbsp;его толщины&nbsp;и, в&nbsp;меньшей степени, от&nbsp;режима резки). Если элементы вырезаются с&nbsp;помощью вращающейся фрезы, то&nbsp;и&nbsp;тут, каким&nbsp;бы точным не&nbsp;был станок, возможны сюрпризы. Во-первых, диаметр фрезы может отличаться от&nbsp;номинального, во-вторых, из-за радиальных биений, ширина прорези может быть большей, чем диаметр фрезы.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/14.jpg">
				<p class="text-muted">
					Дмитрий Латкин (ФАБЛАБ77) 2012<br>
					Кормушка для птиц. Фанера 12 мм
				</p>
			</div>
			<div class="media-body">
				<p>
					Помимо разницы между толщиной материала и&nbsp;шириной зазора при проектировании press-fit конструкций, необходимо учитывать особенности технологического метода, с&nbsp;помощью которого будут изготавливаться элементы. Если диаметр лазерного луча для большинства задач пренебрежимо мал, чтобы брать его в&nbsp;расчет, то&nbsp;с&nbsp;диаметром фрезы всегда приходится считаться. Фрезерным раскроем нельзя вырезать прямой внутренний угол&nbsp;&mdash; в&nbsp;нем всегда останется скругление с&nbsp;радиусом, близким к&nbsp;половине диаметра фрезы, что сократит эффективную глубину паза и&nbsp;детали просто не&nbsp;вставятся друг в&nbsp;друга до&nbsp;конца. Поэтому в&nbsp;моделях для press-fit элементов в&nbsp;углах пазов необходимо предусматривать дополнительные &laquo;карманы&raquo;.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/15.jpg">
				<p class="text-muted">Tomas Diez (FabLab Barcelona) 2008</p>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Изделия из акрила</h3>
				<p>
					Пожалуй, из&nbsp;используемых в&nbsp;ФАБЛАБ материалов, в&nbsp;press-fit конструкциях акрил самый капризный. Натяг при работе с&nbsp;акрилом следует подбирать особенно тщательно&nbsp;&mdash; низкий коэффициент трения не&nbsp;позволит получить надежного сцепления при недостаточном натяге, а&nbsp;хрупкость материала приведет к&nbsp;его разрушению при натяге избыточным.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/16.jpg">
				<p class="text-muted">
					Заготовка для подбора ширины паза в press-fit конструкции.
				</p>
			</div>
			<div class="media-body">
				<p>
					Для акрила всегда приходится подбирать зазор экспериментально, для чего хорошо подходят напоминающие расчески заготовки с&nbsp;рядом пазов, центральный из&nbsp;которых по&nbsp;своей ширине соответствует номинальной толщине материала, вниз от&nbsp;центрального уходят пазы с&nbsp;последовательным уменьшением ширины, а&nbsp;вверх&nbsp;&mdash; с&nbsp;увеличением. Вырезанная на&nbsp;лазере такая &laquo;расческа&raquo; позволяет быстро подобрать достаточно, но&nbsp;не&nbsp;чрезмерно тугую посадку. Для акрила толщиной 2...6&nbsp;мм можно рекомендовать шаг уменьшения/увеличения ширины паза в&nbsp;экспериментах с&nbsp;&laquo;расческой&raquo; равный 0,05&nbsp;мм.
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}