{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="creativity">
		<h2>2D</h2>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/1.jpg">
				<p class="text-muted">Классическая гравюра М.Эшера материализована с помощью лазера и акрила</p>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Создания плоских элементов</h3>
				<p>
					Устройство лазерной резки&nbsp;&mdash; основной инструмент в&nbsp;ФАБЛАБ для создания плоских элементов. Применяющийся в&nbsp;лаборатории CO2 лазер мощностью 40&nbsp;Вт позволяет относительно быстро и&nbsp;по&nbsp;сколь угодно сложному контуру разрезать фанеру толщиной до&nbsp;4&nbsp;мм, акриловое стекло толщиной до&nbsp;6&nbsp;мм, а&nbsp;также картон, кожу и&nbsp;многие другие материалы.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/2.jpg">
				<p class="text-muted">
					Вера Лешевич (ФАБЛАБ77), 2013<br>
					Сделанный от&nbsp;руки рисунок переведен в&nbsp;векторный формат. Циферблат, акрил 3&nbsp;и&nbsp;4&nbsp;мм
				</p>
			</div>
			<div class="media-body">
				<p>
					При работе с&nbsp;лазером приходится оперировать с&nbsp;двумя основными параметрами: мощностью луча и&nbsp;скоростью его перемещения. В&nbsp;зависимости от&nbsp;комбинации значений этих двух параметров будет меняться эффект воздействия лазера на&nbsp;материал&nbsp;&mdash; если большая мощность и&nbsp;небольшая скорость позволит прорезать материал насквозь, то&nbsp;небольшая мощность при большой скорости перемещения луча лишь выжжет часть материала с&nbsp;его поверхности. Последнее позволяет на&nbsp;ряде материалов получать эффектные контрастные изображения (так называемая лазерная гравировка). возможность совмещать гравировку и&nbsp;резку.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/3.jpg">
				<p class="text-muted">Простая перфорация, сделанная с помощью лазера, способна придать фанере удивительную гибкость</p>
			</div>
			<div class="media-body">
				<p>
					Если необходимо получить лазерной резкой высокоточное изделие, то&nbsp;придется учитывать ширину реза, оставляемого лазерным лучом. Проще и&nbsp;надежнее всего определить ее&nbsp;экспериментально, например, вырезав из&nbsp;обрабатываемого материала квадрат подходящего размера и&nbsp;измерив штангенциркулем его сторону на&nbsp;вырезанном кусочке и&nbsp;на&nbsp;оставшейся заготовке. Половина разницы между двумя измерениями и&nbsp;будет шириной реза. Ширина реза зависит от&nbsp;типа материала и&nbsp;его толщины, режима резки и&nbsp;качества фокусировки лазера.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/4.jpg">
				<p class="text-muted">Полина Черповицкая и&nbsp;Евгения Гацолаева (ФАБЛАБ77), 2013</p>
			</div>
			<div class="media-body">
				<p>
					Новый образ каждый день! Персональное цифровое производство!<br>
					Украшение, акрил 3&nbsp;мм, серебряная цепочка
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/5.jpg">
				<p class="text-muted">
					Трафареты для последовательной печати двумя цветами(винил на&nbsp;экране из&nbsp;мелкой сетки) и&nbsp;футболка с&nbsp;QR-кодом
				</p>
			</div>
			<div class="media-body">
				<h3 class="media-heading">Аппликации на ткань</h3>
				<p>
					Пожалуй, самый простой цифровой производственный инструмент в&nbsp;ФАБЛАБ&nbsp;&mdash; рулонный режущий плоттер. С&nbsp;его помощью из&nbsp;специальной самоклеющейся пленки на&nbsp;подложке можно создавать эффектные аппликации, в&nbsp;том числе для переноса на&nbsp;ткань с&nbsp;помощью утюга или специального термопресса. Также с&nbsp;помощью плоттера можно подготовить трафарет для последующей печати методом шелкографии.
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}