{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="creativity">
		<h2>Электроника</h2>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/17.jpg">
			</div>
			<div class="media-body">
				<p>
					Большинство современных электронных устройств выполняются на&nbsp;жестком основании, которое, в&nbsp;силу технологических традиций, называется печатной платой. Полезные свойства электронного устройства образуются в&nbsp;результате взаимодействия устанавливаемых на&nbsp;плату компонентов, количество которых может значительно отличаться в&nbsp;зависимости от&nbsp;назначения устройства. В&nbsp;реализуемых в&nbsp;ФАБЛАБ проектах число компонентов на&nbsp;плате обычно исчисляется десятками, но&nbsp;может доходить и&nbsp;до&nbsp;нескольких сотен. Независимо от&nbsp;способа монтажа, установка компонентов на&nbsp;плату предполагает формирование проводящего рисунка на&nbsp;поверхности заготовки, в&nbsp;роли которой выступает обычно односторонний или двусторонний фольгированный стеклотекстолит марки FR4. Типичные толщины медной фольги&nbsp;&mdash; 18&nbsp;или 35&nbsp;мкм.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/18.jpg">
			</div>
			<div class="media-body">
				<p>
					Относительно быстрым и&nbsp;не&nbsp;требующим использования опасных химических реактивов способом формирования электропроводящих дорожек и&nbsp;прочих элементов проводящего рисунка является метод механического удаления &laquo;лишней&raquo; меди фрезерной обработкой заготовки.<br>
					Фрезеровка печатных плат в&nbsp;лаборатории ФАБЛАБ выполняется настольным прецизионным станком с&nbsp;программным управлением размером с&nbsp;размером рабочей зоны 200&times;150&nbsp;мм (что более чем достаточно для изготовления большинства печатных плат). Точность изготовления проводящего рисунка во&nbsp;многом определяется диаметром режущего инструмента. Минимальный диаметр фрезы, при котором еще можно работать, не&nbsp;опасаясь за&nbsp;поломку режущего инструмента&nbsp;&mdash; 1/64&rsquo;&rsquo; (0.397&nbsp;мм). Дальнейшее уменьшение диаметра режущего инструмента требует повышенной осторожности&nbsp;и, как следствие, приводит к&nbsp;резкому увеличению времени изготовления платы.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/19.jpg">
				<p class="text-muted">Дмитрий Сухоцкий (ФАБЛАБ77), 2013</p>
			</div>
			<div class="media-body">
				<p>
					Иногда просто спаять устройство недостаточно, чтобы оно начало работать. В&nbsp;современной практике широкое распространение приобрели цифровые микроконтроллеры, которые становятся управляющим &laquo;мозгом&raquo; электронного изделия. Прежде, чем контроллер начнет действовать, в&nbsp;него необходимо загрузить предварительно написанную программу. <br>
					Arduino&nbsp;&mdash; это, наверное, наиболее популярная сегодня в&nbsp;мире платформа прототипирования электронных устройств. Arduino являет собой отличный пример open-source, совместимую с&nbsp;Arduino плату можно приобрести за&nbsp;небольшие деньги, но&nbsp;гораздо интереснее сделать свою собственную! FabDuino PTH&nbsp;&mdash; это полностью совместимая с&nbsp;Arduino система, оптимизированная для изготовления в&nbsp;условиях лаборатории ФАБЛАБ новичками.<br>
					Как и&nbsp;оригинальная Arduino, FabDuino может быть дополнена целым арсеналом дополнительных модулей, как выпущеных для Arduino, так и&nbsp;самостоятельно изготовленных.
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}