{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="creativity">
		<h2>По крупному</h2>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/20.jpg">
			</div>
			<div class="media-body">
				<p>
					Большие вещи видны издалека! Большой фрезерный станок позволяет создавать большие и&nbsp;даже очень большие вещи, от&nbsp;верстаков и&nbsp;табуреток до&nbsp;целых зданий. При работе с&nbsp;большими конструкциями огромное значение имеет выбор материала и&nbsp;способа крепления элементов. Пожалуй, как ничто больше в&nbsp;ФАБЛАБ, масштабные вещи требуют ответственного проектирования, изготовления и&nbsp;сборки&nbsp;&mdash; даже развалившаяся табуретка может привести к&nbsp;серьезным неприятностям, что уж&nbsp;говорить о&nbsp;конструкции весом в&nbsp;сотни килограммов.<br>
					Основные материалы для создания больших объектов&mdash; это относительно не&nbsp;дорогие древесные плиты: МДФ, ОСП и&nbsp;фанера. МДФ (MDF)&nbsp;&mdash; волокнистая плита средней плотности, в&nbsp;отличии от&nbsp;более дешевых древесно-стружечных плит, однородна по&nbsp;своему составу и&nbsp;прекрасно подходит не&nbsp;только для раскроя, но&nbsp;и&nbsp;для объемной фрезеровки и&nbsp;даже относительно тонкой гравировки.<br>
					Пористая структура МДФ накладывает определенные требования к&nbsp;финишной обработке&nbsp;&mdash; для качественного лакокрасочного покрытия потребуется специальная грунтовка или пара лишних слоев эмали. Сама по&nbsp;себе плита МДФ не&nbsp;является атмосфероустойчивой, но, обработанная подходящим лаком или краской, становится пригодной для объектов уличного применения. Но&nbsp;все&nbsp;же, основное назначение МДФ&nbsp;&mdash; изготовление интерьерных объектов. Из&nbsp;всего стандартного ряда толщин МДФ, наиболее востребованными являются плиты толщиной 16&nbsp;мм&nbsp;&mdash; для большинства мебельных элементов это оптимальное соотношении массы и&nbsp;прочности, эта толщина достаточна для использования стандартной мебельной крепежной фурнитуры (эксцентриковые стяжки, &laquo;евровинты&raquo;, полкодержатели и&nbsp;т.п.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/21.jpg">
			</div>
			<div class="media-body">
				<p>
					Фанера доступна в&nbsp;широком диапазоне толщин и&nbsp;эксплуатационных характеристик. Правильно выбранная фанера станет декватным материалом для создания (почти) любой БОЛЬШОЙ конструкции. Свойства фанерного листа зависят от&nbsp;вида и&nbsp;качества древесины, характеристик клеящего состава и&nbsp;типа обработки.<br>
					Фанера из&nbsp;хвойных пород дерева не&nbsp;лучший выбор для задач ФАБЛАБ&nbsp;&mdash; в&nbsp;основном из&nbsp;сосны и&nbsp;ели изготавливают низкокачественную строительную фанеру для одноразовых опалубок и&nbsp;черновой обшивки. Березовая фанера обладает высокой прочностью (и, увы, плотностью) и&nbsp;является первым выбором для решения большинства задач. Из&nbsp;тополя изготавливают фанеру с&nbsp;низкой плотностью, что позволяет создавать более легкие конструкции, однако, к&nbsp;сожалению, пока на&nbsp;российском рынке качественная тополиная фанера явление не&nbsp;распространенное.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/22.jpg">
				<p class="text-muted">
					Александр Онучин (ФАБЛАБ77) 2012<br>
					Геодезический купол, фанера 18 мм, фанера 4 мм, болты М8
				</p>
			</div>
			<div class="media-body">
				<p>
					Качество (сорт) фанеры определяется, прежде всего, наличием и&nbsp;количеством сучков и&nbsp;иных дефектов во&nbsp;внешних листах шпона. Чем меньше номер сорта, тем меньше дефектов, первый сорт означает полное отсутствие сучков. Обычно сорт назначается отдельно для обоих сторон листа, например, &laquo;сорт I/II&raquo; означает, что у&nbsp;листа есть лицевая (первого сорта) и&nbsp;оборотная (второго сорта) стороны, а&nbsp;&laquo;сорт IV/IV&raquo; означает, что как лист не&nbsp;крути, с&nbsp;обоих сторон окажется изрядное число сучков и&nbsp;червоточин.<br>
					От&nbsp;типа клея, использовавшегося при изготовлении фанеры, зависит ее&nbsp;влагостойкость. Фанера повышенной влагостойкости дороже обычной и&nbsp;менее безопасна из-за испарений токсичных компонентов клея. Если изделию суждено эксплуатироваться исключительно внутри помещения, то&nbsp;использовать для его изготовления влагостойкую фанеру нет никакого смысла.<br>
					Наконец фанера может поставляться в&nbsp;шлифованном (как с&nbsp;одной, так и&nbsp;с&nbsp;обоих сторон), так и&nbsp;не&nbsp;шлифованном состоянии. Качество шлифовки не&nbsp;всегда бывает достаточным и&nbsp;готовое изделие все равно приходится дополнительно &laquo;шкурить&raquo;, но&nbsp;со&nbsp;шлифованной фанерой работать приятнее, да&nbsp;и&nbsp;финишная обработка займет меньше времени. Шлифованная с&nbsp;двух сторон фанера (Ш2)&nbsp;&mdash; первый выбор для всех задач.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/23.jpg">
				<p class="text-muted">
					Владимир Кузнецов (ФАБЛАБ77) 2012<br>
					Гироскоп, фанера 12 мм, фторопласт, болты М8
				</p>
			</div>
			<div class="media-body">
				<p>
					Выбрав материал необходимо подобрать адекватный инструмент. Для обработки древесных плит первым выбором почти всегда являются цельнотвердосплавные (solid carbide) фрезы. Основные параметры таких фрез, это их&nbsp;геометрия: диаметр и&nbsp;длина режущей части, количество зубьев и&nbsp;направление спирали (и, соответственно, направление выброса стружки). Для работы на&nbsp;большом фрезерном станке со&nbsp;шпинделем, обеспечивающим максимальную скорость вращения фрезы от&nbsp;15&nbsp;тысяч оборотов, в&nbsp;основном используются фрезы с&nbsp;диаметром режущей части от&nbsp;3&nbsp;до&nbsp;8&nbsp;мм и&nbsp;с&nbsp;одним или двумя зубьями.<br>
					Длина режущей части определяет возможную глубину обработки за&nbsp;один проход. Если диаметр хвостовика равен диаметру режущей части или меньше его, то&nbsp;за&nbsp;несколько проходов можно осуществлять раскрой материала толщиной большей чем длина режущей части, главное, чтобы глубина каждого прохода оставалась меньшей, чем длина режущей части фрезы.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/24.jpg">
				<p class="text-muted">
					Дмитрий Латкин (ФАБЛАБ77) 2013<br>
					Перфорация по&nbsp;типу &laquo;живой петли&raquo; позволяет добиться гибкости в&nbsp;фанерном листе толщиной 18&nbsp;мм
				</p>
			</div>
			<div class="media-body">
				<p>
					Общая длина фрезы также имеет большое значение&nbsp;&mdash; она определяет возможный &laquo;вылет&raquo; фрезы (длину не&nbsp;утопленной в&nbsp;цанге части). При многопроходном не&nbsp;ответственном раскрое этот параметр определяет максимальную толщину обрабатываемого материала, а&nbsp;при 3D&nbsp;обработке максимально допустимые перепады обрабатываемого рельефа. Общим правилом при этом остается&nbsp;то, что чем больше вылет, тем больше вибрации на&nbsp;фрезе, тем больше шума и&nbsp;выше вероятность поломки фрезы и&nbsp;даже преждевременного выхода из&nbsp;строя шпинделя. Длина фрезы должна быть достаточной, но&nbsp;не&nbsp;избыточной для каждого задания.<br>
					Количество зубьев фрезы едва&nbsp;ли не&nbsp;главная ее&nbsp;характеристика. Чем меньше у&nbsp;фрезы зубьев, тем легче осуществляется удаление стружки из&nbsp;зоны резания. Чем больше зубьев, тем (при прочих равных условиях) меньше приходящаяся на&nbsp;каждый зуб толщина снимаемого фрезой материала. Для обработки древесных плит редко можно найти оправдание для применения фрез с&nbsp;количеством зубьев большим двух. Однозубые фрезы позволяют осуществлять быстрый и&nbsp;качественный раскрой, но&nbsp;являются при этом чрезвычайно хрупкими и&nbsp;не&nbsp;прощают ошибок в&nbsp;задании режимов обработки. Двузубые фрезы при равном диаметре обладают большей прочностью&nbsp;и, соответственно, живучестью.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/25.jpg">
				<p class="text-muted">
					Дмитрий Латкин (ФАБЛАБ77) 2013<br>
					Эта конструкция целиком построена из деталей всего двух видов
				</p>
			</div>
			<div class="media-body">
				<p>
					Форма режущей части определяет назначение фрезы. Фреза с&nbsp;плоским торцем (square end) применяется для раскроя и&nbsp;черновой 3D&nbsp;обработки. Фреза со&nbsp;сферическим концом (ball nose) используется для чистовой 3D&nbsp;обработки. Специальные (фасонные) фрезы могут сэкономить время обработки при получении фасонных поверхностей (фасок, скруглений, фигурных профилей)&nbsp;&mdash; фасонная фреза за&nbsp;один проход может выполнить работу, на&nbsp;которую у&nbsp;универсальной фрезы ушло&nbsp;бы несколько проходов.<br>
					Направление выброса стружки является еще одним из&nbsp;важнейших геометрических параметров фрезы. Большинство фрез выводят стружку вверх (upcut), но&nbsp;есть и&nbsp;фрезы, режущие материал сверху вниз&nbsp;и, соответственно, выводящие стружку вниз (downcut).<br>
					Главное&nbsp;и, пожалуй, единственное достоинство первых фрез в&nbsp;максимально эффективном удалении стружки, позволяющем повышать скорость обработки. Фрезы, выбрасывающие стружку вверх, как&nbsp;бы тянут на&nbsp;себя материал и&nbsp;это может приводить к&nbsp;поднятию заготовки и&nbsp;увеличению глубины прореза против заданной. Кроме того, выбрасываемая вверх стружка приводит к&nbsp;образованию задиров на&nbsp;поверхности материала, делая необходимой дальнейшую шлифовку деталей.
				</p>
			</div>
		</div>
		<div class="media">
			<div class="image pull-right">
				<img class="media-object" src="/static/img/creativity/26.jpg">
				<p class="text-muted">
					Арка, фанера 12 мм
				</p>
			</div>
			<div class="media-body">
				<p>
					Фрезы с&nbsp;выбросом стружки вниз обеспечивают значительно лучшее качество поверхности изделия и&nbsp;прижимают материал к&nbsp;поверхности стола фрезерного станка (это особенно актуально для станков, не&nbsp;оснащенных вакуумным прижимом), но, из-за набивающейся в&nbsp;паз стружки, такие фрезы быстрее нагреваются и&nbsp;в&nbsp;целом уступают upcut фрезам по&nbsp;скорости обработки. <br>
					Чем больше диаметр фрезы, тем больше потребный момент на&nbsp;шпинделе, но&nbsp;тем прочнее сама фреза, что дает возможность повышать скорость и&nbsp;глубину обработки за&nbsp;один проход. Соответственно, фрезы диаметром 6&nbsp;&mdash; 8&nbsp;мм наиболее приспособлены для быстрого раскроя древесных плит. Фрезы меньшего диаметра, как правило, оправдывают свое применение лишь при обработке мелких элементов.
				</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}