<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Фаблаб Москва{% endblock %}</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/js/vendor/fotorama/fotorama.css" rel="stylesheet">
		<link href="/static/js/vendor/socials/social-likes_birman.css" rel="stylesheet">
		<link href="/static/css/screen.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/favicons/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="{% block className %}{% endblock %}">
		<header class="header">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a href="/"><img src="/static/img/logos/fablab.png" alt="Фаблаб Москва"></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex8-collapse">
							<div class="navbar-header-button-icon">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</div>
						</button>
					</div>
					<div class="collapse navbar-collapse navbar-ex8-collapse">
						<ul class="nav navbar-nav navbar-middle">
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Фаблаб <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/fablab">Что Это?</a></li>
									<li><a href="/fablab/wherefrom">Откуда</a></li>
									<li><a href="/fablab/charter">Хартия</a></li>
									<li><a href="/fablab/network">Всемирная сеть</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Оборудование <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/equipment">Все оборудование</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/dimention-elite">3D принтер Dimension Elite</a></li>
									<li><a href="/equipment/3dtouch-3d-printer">3D принтер BFB Touch</a></li>
									<li><a href="/equipment/replicator">3D принтер Replicator</a></li>
									<li><a href="/equipment/formlabs-form-1">3D принтер Form1</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/flexicam-stealth">Большой фрезерный станок</a></li>
									<li><a href="/equipment/mtm-snap">Настольный фрезерный станок MTM Snap</a></li>
									<li><a href="/equipment/milling-machine">Настольный фрезерный станок MTM BlackMamba</a></li>
									<li><a href="/equipment/roland-modella-mdx-20">Настольный фрезерный станок Roland MDX20</a></li>
									<li><a href="/equipment/roland-modella-mdx-540">4-х осевой фрезерный станок Roland MDX 540</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/laser-epilog-mini">Устройсво лазерной резки/гравировки Epilog Mini24 40 Вт</a></li>
									<li><a href="/equipment/laser-pro-spirit">Устройсво лазерной резки/гравировки LaserPRO Spirit 100 Вт</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/roland-gx300-gx24">Рулонные режущие плоттеры Rolland GX300/GX24</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/soldering-station">Паяльные станции</a></li>
									<li><a href="/equipment/instek">Осциллограф</a></li>
									<li class="divider"></li>
									<li><a href="/equipment/dremel-3000">Ручная шлифовальная машина</a></li>
									<li><a href="/equipment/press-schulze">Пресс для термопереноса</a></li>
									<li><a href="/equipment/fiac-dryer">Воздушный компрессор</a></li>
									<li><a href="/equipment/drilling-machine">Сверлильный станок</a></li>
									<li><a href="/equipment/thermostatic-basin">Thermostatic basin</a></li>
									<li><a href="/equipment/grinder">Точильный станок</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Технологии<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/creativity/2d">2D</a></li>
									<li><a href="/creativity/3d">3D</a></li>
									<li><a href="/creativity/2d-3d">Из 2D в 3D</a></li>
									<li><a href="/creativity/electronics">Электроника</a></li>
									<li><a href="/creativity/large">По крупному</a></li>
								</ul>
							</li>
							<li><a href="http://www.thingiverse.com/search?q=fablab77" target="_blank">Проекты</a></li>
							<li><a href="https://www.facebook.com/fablab77" target="_blank">Новости</a></li>
							<li><a href="/events">События</a></li>
							<li><a href="/contacts">Контакты</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right visible-lg">
							<li><a href="http://web.mit.edu/" target="_blank"><img src="/static/img/logos/mit.png" alt="MIT" height="18"></a></li>
							<li><a href="http://www.misis.ru/" target="blank"><img src="/static/img/logos/misis.png" alt="Moscow Institute of Steel and Alloys" height="18"></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main role="main">
			{% block content %}{% endblock %}
		</main>
		<footer class="footer ss-style-castle">
			<div class="container">
				<p>
					&laquo;ФабЛаб&raquo; &copy;&nbsp;2012
					&nbsp;&nbsp;&nbsp;
					<span>Информация данного Интернет-сайта защищена законом об авторских правах</span>
					&nbsp;&nbsp;&nbsp;
					<a href="/links">Медиа</a>
				</p>
				<div class="social-likes">
					<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
					<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
					<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
					<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
					<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
					<div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media="http://fablab77.ru/img/photo/russian-fablab.jpg">Pinterest</div>
				</div>
			</div>
		</footer>
	</body>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/static/js/vendor/fotorama/fotorama.js"></script>
	<script src="/static/js/vendor/socials/social-likes.min.js"></script>
	<script src="/static/js/all.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	 
		ga('create', 'UA-34687389-2', 'auto');
		ga('send', 'pageview');
	</script>
 
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter25982920 = new Ya.Metrika({id:25982920,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true});
				} catch(e) { }
			});
			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript>
		<div><img src="//mc.yandex.ru/watch/25982920" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->

