{% extends "base.html" %}
{% block className %}catalog-page{% endblock %}
{% block content %}

<article class="container">
	<div class="content catalog">
		<section class="top-slider">
			<div class="fotorama hidden-xs" data-width="100%" data-height="480" data-loop="true" data-arrows="false" data-autoplay="true">
				<div class="slider-item clearfix">
					<a href="">
						<img class="slider-img" src="/static/img/catalog/img_01.jpg">
						<table class="slider-text">
							<tbody>
								<tr>
									<td>
										<h1>Fablab features</h1>
										<hr>
										<p>
											We created a film treatment for a movie called Margo and have worked with artists to get the characters made, and are launching the concepts on a mission to explore the frontier of film-making by starting with 3D printed models.
										</p>
										<button class="btn btn-white"><strong>Learn more</strong></button>
									</td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
				<div class="slider-item clearfix">
					<a href="">
						<img class="slider-img" src="/static/img/catalog/img_02.jpg">
						<table class="slider-text">
							<tbody>
								<tr>
									<td>
										<h1>Fablab features</h1>
										<hr>
										<p>
											We created a film treatment for a movie called Margo and have worked with artists to get the characters made, and are launching the concepts on a mission to explore the frontier of film-making by starting with 3D printed models.
										</p>
										<button class="btn btn-white"><strong>Learn more</strong></button>
									</td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
				<div class="slider-item clearfix">
					<a href="">
						<img class="slider-img" src="/static/img/catalog/img_03.jpg">
						<table class="slider-text">
							<tbody>
								<tr>
									<td>
										<h1>Fablab features</h1>
										<hr>
										<p>
											We created a film treatment for a movie called Margo and have worked with artists to get the characters made, and are launching the concepts on a mission to explore the frontier of film-making by starting with 3D printed models.
										</p>
										<button class="btn btn-white"><strong>Learn more</strong></button>
									</td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
			</div>
		</section>

		<section class="features">
			<div class="flex-wrap">
				<div class="aside-left bg-grey">
					<div class="gfeed-block">
						<div class="header-block">
							<h3>Global Feed</h3>
							<p>Latest activity</p>
						</div>
						<a href="" class="clearfix">
							<img class="pull-left" src="https://thingiverse-production.s3.amazonaws.com/renders/81/1b/e2/d0/2f/IMG_20120812_134005_thumb_small.jpg">
							<span>wentam made a thing based on Chain Generator</span>
						</a>
						<a href="" class="clearfix">
							<img class="pull-left" src="https://thingiverse-production.s3.amazonaws.com/renders/81/1b/e2/d0/2f/IMG_20120812_134005_thumb_small.jpg">
							<span>wentam made a thing based on Chain Generator</span>
						</a>
						<a href="" class="clearfix">
							<img class="pull-left" src="https://thingiverse-production.s3.amazonaws.com/renders/81/1b/e2/d0/2f/IMG_20120812_134005_thumb_small.jpg">
							<span>wentam made a thing based on Chain Generator</span>
						</a>
						<a href="" class="clearfix">
							<img class="pull-left" src="https://thingiverse-production.s3.amazonaws.com/renders/81/1b/e2/d0/2f/IMG_20120812_134005_thumb_small.jpg">
							<span>wentam made a thing based on Chain Generator</span>
						</a>
					</div>
				</div>
				<div class="collection bg-grey">
					<div class="featured">
						<div class="header-block">
							<a class="pull-right" href="">see more<i class="icon icon-angle-right"></i></a>
							<h3>Featured collection</h3>
							<p>Download and print today</p>
						</div>
						<div class="featured-gallery">
							<div class="row">
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
								<div class="col-md-3 text-center">
									<a href="">
										<img src="https://thingiverse-production.s3.amazonaws.com/renders/53/9c/f5/4d/1f/photo_thumb_large.jpg">
										<p>Halloween</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="made">
			<div class="header-block bg-grey">
				<a class="pull-right" href="">see more&nbsp;<i class="icon icon-angle-right"></i></a>
				<h3>Recently made</h3>
				<p>The most recent Things printed</p>
			</div>
			<div class="fotorama" data-width="100%" data-height="320" data-loop="true" data-arrows="false">
				<div class="list-slider bg-grey">
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="list-slider bg-grey">
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_1.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="creations">
			<div class="header-block bg-grey">
				<a class="pull-right" href="">see more&nbsp;<i class="icon icon-angle-right"></i></a>
				<h3>Customizable creations</h3>
				<p>Personalize these Things with Thingiverse Customizer</p>
			</div>
			<div class="fotorama" data-width="100%" data-height="320" data-loop="true" data-arrows="false">
				<div class="list-slider bg-grey">
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="list-slider bg-grey">
					<div class="row">
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-4">
							<div class="gallery-item">
								<a href="">
									<img src="/static/img/catalog/made_2.jpg">
									<table class="gallery-text">
										<tbody>
											<tr>
												<td class="photo">
													<img src="/static/img/catalog/photo_1.jpg">
												</td>
												<td>
													<p>
														<strong>Stretchy Bracelet</strong><br>
														<span>Made by Hobbit</span>
													</p>
												</td>
												<td>
													<span class="nowrap">30 min ago</span>
												</td>
											</tr>
										</tbody>
									</table>
								</a>
								<table class="table">
									<tbody>
										<tr>
											<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
											<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
											<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</article>
{% endblock %}