{% extends "base.html" %}
{% block content %}
<article class="article container">
	<div class="content">
		<h2>Список оборудования</h2>
		<div class="row equipment-list">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/dimention-elite" class="thumbnail">
					<img src="/static/img/equipment-list/elite.jpg">
					<span>3D принтер Dimension Elite</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/replicator" class="thumbnail">
					<img src="/static/img/equipment-list/replicator.jpg">
					<span>3D принтер Replicator</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/3dtouch-3d-printer" class="thumbnail">
					<img src="/static/img/equipment-list/3dtouch-3d-printer.jpg">
					<span>3D принтер BFB Touch</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/formlabs-form-1" class="thumbnail">
					<img src="/static/img/equipment-list/form1.jpg">
					<span>3D принтер Form1</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/flexicam-stealth" class="thumbnail">
					<img src="/static/img/equipment-list/flexicam-stealth.jpg">
					<span>Большой фрезерный станок</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/mtm-snap" class="thumbnail">
					<img src="/static/img/equipment-list/mtm-snap.jpg">
					<span>Настольный фрезерный станок MTM Snap</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/milling-machine" class="thumbnail">
					<img src="/static/img/equipment-list/milling-machine.jpg">
					<span>Настольный фрезерный станок MTM BlackMamba</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/roland-modella-mdx-20" class="thumbnail">
					<img src="/static/img/equipment-list/roland-mdx-20.jpg">
					<span>Настольный фрезерный станок Roland MDX20</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/roland-modella-mdx-540" class="thumbnail">
					<img src="/static/img/equipment-list/roland-mdx-540.jpg">
					<span>4-х осевой фрезерный станок Roland MDX 540</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/laser-pro-spirit" class="thumbnail">
					<img src="/static/img/equipment-list/epilog-mini.jpg">
					<span>Устройсво лазерной резки/гравировки Epilog Mini24 40 Вт</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/laser-pro-spirit" class="thumbnail">
					<img src="/static/img/equipment-list/pro-spirit.jpg">
					<span>Устройсво лазерной резки/гравировки LaserPRO Spirit 100 Вт</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/roland-gx300-gx24" class="thumbnail">
					<img src="/static/img/equipment-list/roland-gx-300.jpg">
					<span>Рулонные режущие плоттеры Rolland GX300/GX24</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/soldering-station" class="thumbnail">
					<img src="/static/img/equipment-list/soldering-station.jpg">
					<span>Паяльная станция</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/instek" class="thumbnail">
					<img src="/static/img/equipment-list/instek.jpg">
					<span>Осциллограф</span>
				</a>
			</div>
<!-- 			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/dremel-3000" class="thumbnail">
					<img src="/static/img/equipment-list/">
					<span>Источник тока</span>
				</a>
			</div> -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/dremel-3000" class="thumbnail">
					<img src="/static/img/equipment-list/dremel-3000.jpg">
					<span>Ручная шлифовальная машина</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/press-schulze" class="thumbnail">
					<img src="/static/img/equipment-list/press-schulze.jpg">
					<span>Пресс для термопереноса</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/fiac-dryer" class="thumbnail">
					<img src="/static/img/equipment-list/fiac-dryer.jpg">
					<span>Воздушный компрессор</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/drilling-machine" class="thumbnail">
					<img src="/static/img/equipment-list/drilling-machine.jpg">
					<span>Сверлильный станок</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/thermostatic-basin" class="thumbnail">
					<img src="/static/img/equipment-list/thermostatic-basin.jpg">
					<span>Thermostatic basin</span>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/equipment/grinder" class="thumbnail">
					<img src="/static/img/equipment-list/grinder.jpg">
					<span>Точильный станок</span>
				</a>
			</div>
		</div>
	</div>
</article>
{% endblock %}