{% extends "base.html" %}
{% block className %}explore-page{% endblock %}
{% block content %}

<article class="container">
	<div class="content explore">
		<h4 class="explore-title">Explore: <span>All</span></h4>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="gallery-item">
					<a href="">
						<img src="/static/img/catalog/made_2.jpg">
						<table class="gallery-text">
							<tbody>
								<tr>
									<td class="photo">
										<img src="/static/img/catalog/photo_1.jpg">
									</td>
									<td>
										<p>
											<strong>Stretchy Bracelet</strong><br>
											<span>Made by Hobbit</span>
										</p>
									</td>
									<td>
										<span class="nowrap">30 min ago</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<tbody>
								<tr>
									<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
									<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
									<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="gallery-item">
					<a href="">
						<img src="/static/img/catalog/made_2.jpg">
						<table class="gallery-text">
							<tbody>
								<tr>
									<td class="photo">
										<img src="/static/img/catalog/photo_1.jpg">
									</td>
									<td>
										<p>
											<strong>Stretchy Bracelet</strong><br>
											<span>Made by Hobbit</span>
										</p>
									</td>
									<td>
										<span class="nowrap">30 min ago</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<tbody>
								<tr>
									<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
									<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
									<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="gallery-item">
					<a href="">
						<img src="/static/img/catalog/made_2.jpg">
						<table class="gallery-text">
							<tbody>
								<tr>
									<td class="photo">
										<img src="/static/img/catalog/photo_1.jpg">
									</td>
									<td>
										<p>
											<strong>Stretchy Bracelet</strong><br>
											<span>Made by Hobbit</span>
										</p>
									</td>
									<td>
										<span class="nowrap">30 min ago</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<tbody>
								<tr>
									<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
									<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
									<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="gallery-item">
					<a href="">
						<img src="/static/img/catalog/made_2.jpg">
						<table class="gallery-text">
							<tbody>
								<tr>
									<td class="photo">
										<img src="/static/img/catalog/photo_1.jpg">
									</td>
									<td>
										<p>
											<strong>Stretchy Bracelet</strong><br>
											<span>Made by Hobbit</span>
										</p>
									</td>
									<td>
										<span class="nowrap">30 min ago</span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table">
							<tbody>
								<tr>
									<td><a href="" data-toggle="tooltip" title="Like this"><i class="icon icon-heart"></i>&nbsp;0</a></td>
									<td><a href="" data-toggle="tooltip" title="Collect this"><i class="icon icon-plus-sign"></i>&nbsp;130</a></td>
									<td><a href="" data-toggle="tooltip" title="View comments"><i class="icon icon-comments"></i>&nbsp;1</a></td>
								</tr>
							</tbody>
						</table>
					</a>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}