{% extends "base.html" %}
{% block title %}Фаблаб Москва{% endblock %}
{% block className %}main-page{% endblock %}
{% block content %}

<section class="fotorama" data-width="100%" data-height="100%" data-loop="true" data-fit="cover" data-nav="thumbs" data-thumbwidth="100">
	<a href="http://vimeo.com/85431489"></a>
	<a href="/static/img/slider/34.jpg"><img src="/static/img/slider/thumb/34.jpg"></a>
	<a href="/static/img/slider/35.jpg"><img src="/static/img/slider/thumb/35.jpg"></a>
	<a href="/static/img/slider/33.jpg"><img src="/static/img/slider/thumb/33.jpg"></a>
	<a href="/static/img/slider/36.jpg"><img src="/static/img/slider/thumb/36.jpg"></a>
	<a href="/static/img/slider/1.jpg"><img src="/static/img/slider/thumb/1.jpg"></a>
	<a href="/static/img/slider/2.jpg"><img src="/static/img/slider/thumb/2.jpg"></a>
	<a href="/static/img/slider/3.jpg"><img src="/static/img/slider/thumb/3.jpg"></a>
	<a href="/static/img/slider/5.jpg"><img src="/static/img/slider/thumb/5.jpg"></a>
	<a href="/static/img/slider/6.jpg"><img src="/static/img/slider/thumb/6.jpg"></a>
	<a href="/static/img/slider/7.jpg"><img src="/static/img/slider/thumb/7.jpg"></a>
	<a href="/static/img/slider/8.jpg"><img src="/static/img/slider/thumb/8.jpg"></a>
	<a href="/static/img/slider/10.jpg"><img src="/static/img/slider/thumb/10.jpg"></a>
	<a href="/static/img/slider/11.jpg"><img src="/static/img/slider/thumb/11.jpg"></a>
	<a href="/static/img/slider/12.jpg"><img src="/static/img/slider/thumb/12.jpg"></a>
	<a href="/static/img/slider/13.jpg"><img src="/static/img/slider/thumb/13.jpg"></a>
	<a href="/static/img/slider/14.jpg"><img src="/static/img/slider/thumb/14.jpg"></a>
	<a href="/static/img/slider/15.jpg"><img src="/static/img/slider/thumb/15.jpg"></a>
	<a href="/static/img/slider/16.jpg"><img src="/static/img/slider/thumb/16.jpg"></a>
	<a href="/static/img/slider/17.jpg"><img src="/static/img/slider/thumb/17.jpg"></a>
	<a href="/static/img/slider/18.jpg"><img src="/static/img/slider/thumb/18.jpg"></a>
	<a href="/static/img/slider/19.jpg"><img src="/static/img/slider/thumb/19.jpg"></a>
	<a href="/static/img/slider/20.jpg"><img src="/static/img/slider/thumb/20.jpg"></a>
	<a href="/static/img/slider/21.jpg"><img src="/static/img/slider/thumb/21.jpg"></a>
	<a href="/static/img/slider/22.jpg"><img src="/static/img/slider/thumb/22.jpg"></a>
	<a href="/static/img/slider/23.jpg"><img src="/static/img/slider/thumb/23.jpg"></a>
	<a href="/static/img/slider/24.jpg"><img src="/static/img/slider/thumb/24.jpg"></a>
	<a href="/static/img/slider/25.jpg"><img src="/static/img/slider/thumb/25.jpg"></a>
	<a href="/static/img/slider/26.jpg"><img src="/static/img/slider/thumb/26.jpg"></a>
	<a href="/static/img/slider/27.jpg"><img src="/static/img/slider/thumb/27.jpg"></a>
	<a href="/static/img/slider/28.jpg"><img src="/static/img/slider/thumb/28.jpg"></a>
	<a href="/static/img/slider/29.jpg"><img src="/static/img/slider/thumb/29.jpg"></a>
	<a href="/static/img/slider/30.jpg"><img src="/static/img/slider/thumb/30.jpg"></a>
	<a href="/static/img/slider/31.jpg"><img src="/static/img/slider/thumb/31.jpg"></a>
	<a href="/static/img/slider/32.jpg"><img src="/static/img/slider/thumb/32.jpg"></a>
	<a href="/static/img/slider/33.png"><img src="/static/img/slider/thumb/33.png"></a>
</section>

<div class="container">
	<article class="article">
		<section class="top-article">
			<h2>История появления Fablab</h2>
			<img class="pull-left" src="/static/img/photo/neil.jpg">
			<p>
				В&nbsp;конце прошлого века в&nbsp;одном из&nbsp;ведущих технических
				университетов мира&nbsp;&mdash; Массачусетском технологическом институте (MIT), профессор Нил Гершенфельд с&nbsp;коллегами начал читать курс, с не&nbsp;совсем академическим названием &laquo;Как сделать (почти) все, что угодно&raquo;. В&nbsp;рамках дисциплины студентов знакомили с&nbsp;современными цифровыми производственными машинами&nbsp;&mdash; с&nbsp;их&nbsp;возможностями и ограничениями. Студентов знакомили с&nbsp;современными технологиями
				и&nbsp;предлагали реализовывать с&nbsp;их&nbsp;помощью собственные проекты.<br>
				Всего за&nbsp;один семестр магистранты с&nbsp;самым различным образованием
				и&nbsp;опытом успевали освоить несколько методов обработки материалов,
				изготовление печатных плат и&nbsp;программирование
				микроконтроллеров, создавая в&nbsp;итоге оригинальные функциональные
				продукты. Курс вызвал огромный интерес как внутри университета,
				так и&nbsp;далеко за&nbsp;его пределами, и&nbsp;очень быстро стало понятно, что
				подобный сплав современного доступного оборудования, открытого
				программного обеспечения и&nbsp;демократичных методов преподавания
				заслуживает стать чем-то значительно большим, чем просто часть
				академической программы одного, пусть даже и&nbsp;лучшего в&nbsp;мире,
				технического университета. Таким образом, Центр битов и&nbsp;атомов,
				возглавляемый Нилом Гершенфельдом, запустил программу развития
				сети лабораторий цифрового производства Fab&nbsp;Lab, которая очень
				скоро стала глобальным международным проектом.
			</p>
		</section>
		<hr>
		<section class="bottom-article">
			<h2>Фаблаб МИСиС&nbsp;&mdash; первый Российский фаблаб</h2>
			<address>
				Москва, метро Октябрьская, Крымский вал 3. Открыты: ср, чт: 11:00&nbsp;&mdash; 18:00.
			</address>
			<img class="pull-left" src="/static/img/photo/russian-fablab.jpg">
			<p>
				Каждая лаборатория, по&nbsp;сути, является облегченной версией Центра битов и&nbsp;атомов и&nbsp;дает своим пользователям возможность научиться	тому, как сделать (почти) все. На&nbsp;сегодняшний момент в&nbsp;мире насчитывается порядка 200&nbsp;лабораторий, объединенных сетевым взаимодействием, дающим возможности обмена идеями и цифровыми ресурсами и&nbsp;совместной работы над проектами.<br>
				Первая полнофункциональная лаборатория формата Fab&nbsp;Lab в&nbsp;России
				открылась в&nbsp;апреле 2012 года в&nbsp;НИТУ &laquo;МИСиС&raquo;, в&nbsp;рамках совместного
				проекта с&nbsp;MIT при поддержке Департамента образования&nbsp;г. Москвы.<br>
				Каждая лаборатория проекта располагает унифицированным
				комплектом основного цифрового оборудования (фрезерный станок с
				большим рабочим полем, устройство лазерной резки, прецизионный
				настольный фрезерный станок, 3D&nbsp;принтер, режущий плоттер),
				использует стандартную элементную базу электронных компонентов
				и&nbsp;разделяет общую идеологию открытого проекта, зафиксированную
				в&nbsp;&laquo;хартии&raquo; Fab&nbsp;Lab.<br>
			</p>
			<p class="text-right">
				<b>
					Мы приглашаем всех желающих становится нашими соавторами.<br>
					Мир идей и&nbsp;решений Fab&nbsp;Lab безграничен! <br>Добро пожаловать!
				</b>
			</p>
			<p class="text-right text-muted">
				Команда лаборатории цифрового<br> 
				производства &laquo;ФАБЛАБ&raquo; НИТУ &laquo;МИСиС&raquo;
			</p>
		</section>
	</article>
</div>
{% endblock %}