{% extends "base.html" %}
{% block content %}

<article class="article container">
	<div class="content">
		<h2>О нас пишут</h2>
		<ul>
			<li><a href="http://festival.ikraikra.ru/">Летний аквариум ИКРы</a></li>
			<li><a href="http://picnic.afisha.ru/">Пикник &laquo;Афиши&raquo;</a></li>
			<li><a href="http://citycelebrity.ru/citycelebrity/Project.aspx?ProjectId=485">Конкурс &laquo;АРТикуляция&laquo;</a></li>
			<li><a href="http://festival.ikraikra.ru/">Benom Juarez on the Future of Digital Fabrication in Peru</a></li>
			<li><a href="https://www.kickstarter.com/projects/1030661323/printoo-paper-thin-flexible-arduinotm-compatible-m">Printoo: Paper-Thin, Flexible Arduino™-Compatible modules!</a></li>
			<li><a href="http://www.esa.int/Our_Activities/Technology/Building_a_lunar_base_with_3D_printing">Building a lunar base with 3D printing</a></li>
			<li><a href="http://www.uwstout.edu/spotlight/russia.cfm">Out of Russia: Fab Lab scholar enjoying visit to U.S.</a></li>
			<li><a href="http://www.mk.ru/daily/newspaper/news/2013/12/09/956920-laboratorii-gde-sozdaetsya-buduschee.html">Лаборатории, где создается будущее</a></li>
			<li><a href="http://www.m24.ru/videos/33293?attempt=1">"Экономика": Как и где в России работают фаблабы</a></li>
			<li><a href="http://russia.tv/video/show/brand_id/3838/episode_id/690169/video_id/690275">&laquo;Утро России&laquo; c руководителем Лаборатории цифрового производства НИТУ МИСиС Владимиром Кузнецовым.</a></li>
			<li><a href="http://www.vedomosti.ru/lifestyle/news/17646731/nastupaet-era-cifrovogo-proizvodstva">Наступает эра цифрового производства</a></li>
			<li><a href="http://www.misis.ru/tabid/176/ArticleID/1043/%D0%A1%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D1%81%D1%82%D1%8B-FabLab-%D0%9D%D0%98%D0%A2%D0%A3-%C2%AB%D0%9C%D0%98%D0%A1%D0%B8%D0%A1%C2%BB-%D0%BD%D0%B0%D1%83%D1%87%D0%B0%D1%82-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%8B-%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C-%D1%81%D0%B5%D0%B1%D0%B5-%D0%BF%D0%BE%D0%B4%D0%BE%D0%B1%D0%BD%D1%8B%D1%85.aspx">Специалисты FabLab НИТУ «МИСиС» научат машины делать себе подобных</a></li>
			<li><a href="http://www.computerra.ru/61417/fablab/">Мастерская всего на свете: экскурсия по первой в России учебной лаборатории, где переводят цифры в атомы</a></li>
			<li><a href="http://www.gazeta.ru/science/2012/11/12_a_4848441.shtml">Напечатанное здоровье</a></li>
		</ul>
	</div>
</article>
{% endblock %}