{% extends "base.html" %}
{% block title %}Fablab sitemap{% endblock %}
{% block content %}

<article class="article">
	<div class="container">
		<h1>Дерево сайта</h1>
		<ul>
			<li><a href="/">Главная</a></li>
			<li>
				Фаблаб
				<ul>
					<li><a href="/fablab">Фаблаб</a></li>
					<li><a href="/fablab/wherefrom">Откуда</a></li>
					<li><a href="/fablab/charter">Хартия</a></li>
					<li><a href="/fablab/network">Всемирная сеть</a></li>
					<li><a href="/fablab/partnership">Партнерство</a></li>
				</ul>
			</li>
			<li><a href="/access">Доступ</a></li>
			<li>
				Оборудование
				<ul>
					<li><a href="/equipment">Список оборудования</a></li>
					<li><a href="/equipment/dimension-elite">Профессиональный 3D принтер</a></li>
					<li><a href="/equipment/replicator">3D принтер Replicator</a></li>
					<li><a href="/equipment/flexicam-stealth">Фрезерный станок</a></li>
					<li><a href="/equipment/laser-pro-spirit">Лазерный раскройщик</a></li>
					<li><a href="/equipment/roland-modella-mdx">Презиционный станок</a></li>
					<li><a href="/equipment/roland-gx300-gx24">Режущий плоттер</a></li>
				</ul>
			</li>
			<li><a href="/links">Материалы</a></li>
			<li><a href="/events">События</a></li>
			<li><a href="/residents">Резиденты</a></li>
		</ul>
	</div>
</article>
{% endblock %}